<div class="all-flyers-helper">
  <div class="flyer-content-heading">
    <h1><%= heading %></h1>
    <%= link_to new_flyer_path do %>
      <div class="host-button">
        <strong>Host your own!</strong>
      </div>
    <% end %>
  </div>
  <div class="all-flyers-container">
    <% flyers.each do |flyer| %>
      <%= render 'flyers/flyer_icon', flyer: flyer %>
    <% end %>
  </div>
</div>