<div class="all-flyers-helper">
  <h2><%= heading %></h2>
  <div class="all-flyers-container">
    <% flyers.each do |flyer| %>
      <%= render 'flyers/flyer_icon', flyer: flyer %>
    <% end %>
  </div>
</div>