
<div class="about-wrapper">
    <h1> About us </h1>
    <p> Tear Off is a venture founded by Kyle Chenoweth, Jordan Fasso and Jingwen Gu. Their vision was to design a learning based platform that maximises the benefits for all involved. <br> <br>
        People who possess a certain skill are able to share this with others when they post a “Flyer”. People interested in learning this skill can “Tear-Off” a ticket to attend this event. <br><br>
        Each Flyer varies in terms of cost which is set by the host of the event. It is not only the host who benefits financially, with Flyer's being dedicated to one of three fundraising Projects chosen monthly, that receive 50% of the proceeds raised from the sales of the available "Tears".<br><br>
        We believe that learning can have more benefits than just those for teacher and student. TearOff incorporates fundraising into the learning environment, to further encourage a collective effort mentality within the community we are bringing together. <br><br>
    </p>
</div>

