<div class = "title"> 
    <h1>Project</h1>
</div>
<div class = "project">
    <img src = "https://static1.squarespace.com/static/5923e02dd482e9dbfe3618b4/5924f3ecc534a5b20608f75b/59c45a2fcf81e0c3bc1e87f3/1537231951802/SydneyFamilyShow_Slide2.jpg?format=1000w" alt = "event 1" > 
    <div class = "text" >
        <p>Event:  KidsXpress Mount Elbrus Climb</p>    
        <p>Date:   9 Aug 2019  –  19 Aug 2019</p>
        <p>Time:   Fri 12:00 pm - Mon 12.00pm</p>
        <p>Location: Mount Elbrus</p>
        <p>Website: www.kidsxpress.org.au</p>

        <p>Description : This would be an 11 days trip to the Mount Elbrus which will give you the chance to experience some of the most dramatic mountain landscapes on earth. We welcome everyone who is physically fit to take part in this exploration. You will make memories that will last forever, push yourself to the limit, and know that long after you have completed the challenge, you will have helped create the future that our children deserve. we offers children who are facing emotional trauma a place where they can really figure things out. Our Therapists who work in small group encourage each child not only explore their thoughts and feelings, but to find their own ways to cope with them.</p>
        <a href="www.kidsxpress.org.au">Learn More</a>
    </div>
</div>


<div class = project>
    <img src = "https://www.onlymelbourne.com.au/images3/0818-readathon.jpg" alt = "event 2">
    <div class = "text" >
        <p>Event:   MS Readathon 2019</p>
        <p>Date:    1st august 2019 – Saturday 31st August 2019</p>
        <p>Location:  A quiet place for reading</p>
        <p>Website:  www.msreadathon.org.au</p>
        <p>Description : The MS Readathon raised funds for those living with multiple sclerosis, 2019 is the 40th year of our fundraising. This is the all new MS Readation. This event would inspires kids to read as much as they can, all for an incredible cause. The rules are simple. Read whatever you like , as much as you can , in August. This year’s MS Readathon will be a magical quest, and the adventure kicks off on August 1 and wraps up on August 31. To make the MS Readathon more fun than ever before , this year we ;ve got a brand new interactive website that lets kids write book reviews and rate their favorite reads.
        Children can register with their school, including teachers. You always register your class or individually. Fundraising has never been more fun. Kids love the MS readathon and it’s never been easier or more exciting to take part. Hope you will awaken a love of reading , and will also be helping kids who have a parents with multiple sclerosis.</p>
        <a href="www.msreadathon.org.au">Learn More</a>
    </div>
</div>


<div class = project>
    <img src = "https://i.ytimg.com/vi/ieFxoUbR4BA/maxresdefault.jpg" alt = "event 3">
    <div class = "text" >
        <p>event: Cure Cancer at American Express Openair Cinema</p>
        <p>Date : Every Saturday from 20th July – 17th August</p>
        <p>Location: American Express Openair Cinema, Iconic Botanic Gardens</p>
        <p>Website: www.curecancer.com.au</p>
        <p>Description:
        CURE CANCER fund lifesaving cancer research from the cleverest, most ingenious early-career researchers. We won’t stop until we find a cure.
        We are proud to be partnering with American Express Openair Cinemas in Brisban this July and August at the iconic Botanic Gardens. The popular American Express Openair Cinema is host to festival – vibe entertainment and will be screening an exciting mix of box office hits and highly anticipated new releases. The Screening Locations and times are as below 20th July: Aladin ; 27th July: Rocketman; 3rd August: Toy Story 4 ; 10th August: The Secret Life of Pets (PG) ; 17th August is To be Announced</p>
        <a href="www.msreadathon.org.au">Learn More</a>
    </div>
</div>