* {
  padding: 2px;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  background-color: #313639;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@import 'charges';
@import 'flyers';
@import 'profiles';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'about_us'
