* {
  padding: 2px;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  background-color: #313639;
}

@import 'charges';
@import 'flyers';
@import 'profiles';
@import 'navbar';
@import 'home';
@import 'footer'
// @import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');