* {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  
  
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #313639;
}

@import 'charges';
@import 'flyers';
@import 'profiles';
@import 'navbar';
@import 'home';
@import 'footer';
@import 'about_us'
