// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-body {
  padding-top: 20px;
  background-color: #FCFCFC;
  font-family: 'Red Hat Display', sans-serif;

  .category-content {
    margin: 0 8%;
  }
}