// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment-button {
    background-color: #01f39c;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
}