// Place all the styles related to the Flyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.flyers-body {
  height: 100%;
  background-color: #FCFCFC;
  padding-top: 20px;
  font-family: 'Red Hat Display', sans-serif;
}

.flyers-content {
  margin: 0 8%;
  // background-color: #FCFCFC;
  h1 {
    color: #2b2b2b;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
  }
}
.show-page-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  
  a:visited {
    text-decoration: none; color: white;
  }
  a {
      text-decoration: none;
      font-size: 0.75rem;
  }
  a:link {
      text-decoration: none;
  }
  
  a:visited {
      text-decoration: none;
  }
  
  a:active {
  text-decoration: none;
  }
  
}
.show-flyer-info{
  border: 1px #01f39c;
  color: #FCFCFC;
  border-style: solid;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-repeat: no-repeat;
  h1{
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;

  }
  a {
    // font-family: 'Amatic SC', cursive;
    font-size: 1rem
  }
  h2 {
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    
  }
  p {
    font-size: 1rem;
  }
  
}
.event-info {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 10vh 10vh;
 grid-template-areas: 
 "description description description description description description"
 "category supporting cost time date host";
 text-align: center;
 div {
   h3{
    font-family: 'Amatic SC', cursive;
   }
 }
  .description {
    grid-area: description
  }
  .category {
    grid-area: category
  }
  .supporting {
    grid-area: supporting
  }
  .cost {
    grid-area: cost
  }
  .time {
    grid-area: time
  }
  .date {
    grid-area: date
  }
  .host{
    grid-area: host
  }
}



.center-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.tears-wrapper {
    padding: 10px;
    margin: 4px;
    display: flex;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "flyer-info"
    "tears"
}

.tears {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px;
}
@import url("curl.scss");
.tears-1, .tears-2, .tears-3, .tears-4, .tears-5, .tears-6 {
  border: 1px #01f39c;
  border-style: solid;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  li {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.category-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container a {
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;

  .category-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
  }
}

.flyers-helper {
  margin-bottom: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-bottom: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
  }

  > a {
    color: #2b2b2b;
    align-self: flex-end;
  }

  .flyer-container {
    height: 50%;
    padding: 10px;
    // background-color: #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      height: 100%;
      width: 15%;

      .flyer-icon {
        height: 100%;
        border-radius: 8%;
        padding: 10px;
  
        h5, h6 {
          font-style: italic;
        }
      }
    }
  }
}

.all-flyers-helper {

  .all-flyers-container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 5%;
    grid-row-gap: 30px;

    .flyer-icon {
      height: 175px;
      border-radius: 8%;
      padding: 10px;

      h5, h6 {
        font-style: italic;
      }
    }
  }
}

.flyer-content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #2b2b2b;
    margin-bottom: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
  }

  .host-button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(5, 224, 148);
    color: white;
    font-size: 1.5em;
  }
}

.random-category-list {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2{
    margin-bottom: 10px
  }
}
.random-category-flyer {
      height: 100%;
      width: 12%;
      border-radius: 8%;
      padding: 10px;
      color: white;
}

@import 'charges'