// Place all the styles related to the Flyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.flyers-body {
  height: 100%;
  background-color: #FCFCFC;
  padding-top: 20px;
}

.flyers-content {
  margin: 0 8%;
  // background-color: #FCFCFC;
  h1 {
    color: #2b2b2b;
  }
}


.tears-wrapper {
    padding: 10px;
    margin: 4px;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "flyer-info"
    "tears"
}

.tears {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 120px;
}
@import url("curl.scss");
.tears-1, .tears-2, .tears-3, .tears-4, .tears-5, .tears-6 {
    border: 1px;
    border-style: dashed;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.category-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container a {
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;

  .category-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
  }
}

.popular {
  margin-bottom: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-bottom: 10px;
  }

  > a {
    color: #2b2b2b;
    align-self: flex-end;
  }

  .flyer-container {
    height: 50%;
    padding: 10px;
    // background-color: #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flyer-icon {
      height: 100%;
      width: 12%;
      border-radius: 8%;
      padding: 10px;

      h5, h6 {
        font-style: italic;
      }
    }
  }
}
