// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
    background-image: url("https://dl.dropboxusercontent.com/s/d8euk5zh0kq6l1h/tear-off-how-banner.png?dl=0");
    background-size: cover;
    width: 100vw;
    height: 50vh;
    z-index: 10;
    margin: 2px;

    
}
.banner img {
    position: relative;
    left: 50px;
    height: 100%;
    width: 100%;
    
}

.content-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
    "popular donations";
    background-color: rgb(49,54,57);
    margin: 10px;
    padding: 10px;
    width: 100%;

}

.heading{
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    h2 {
        font-family: 'Amatic SC', cursive;
        font-size: 3rem;
        padding: 5px;
    }
}

.heading {
    a:visited {
        text-decoration: none; color: white;
    }
    a {
        text-decoration: none;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        border-bottom: 0.4px solid;
        border-bottom-color: #01f39c;
        

    }
    
    a:active {
    text-decoration: none;
    }
}

.popular-flyers {
  padding: 2px;
  margin: 2px;
  grid-area: popular;
  border: 0.4px solid;
  border-color: #01f39c;
  width: 90%;
  height: 35vh;
  text-decoration: none;
  color: white;
  
  .home-flyers {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a:link {
      text-decoration: none;
    }
    
    a:visited {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: none;
    }
    
    a:active {
      text-decoration: none;
    }

    .flyer-container {
      height: 60%;
      padding: 0 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 80%;
      grid-gap: 5%;
      grid-template-areas:
        "f0 f1 f2";
      
      .flyer-icon {
        height: 100%;
        border-radius: 8%;
        padding: 10px;
      }

      .flyer-icon:nth-of-type(1) {
        grid-area: f0;
      }

      .flyer-icon:nth-of-type(2) {
        grid-area: f1;
      }

      .flyer-icon:nth-of-type(3) {
        grid-area: f2;
      }
    }
  }
}





.total-donations{
    // background-image: url(https://dl.dropboxusercontent.com/s/x55qt1v2g5gwmwf/projects.png?dl=0);
    // background-size: fill;
    // background-repeat: no-repeat;
    border: 0.4px solid;
    border-color: #01f39c;
   
    width: 90%;
    height: 35vh;
    grid-area: donations;
    color: white;
    margin: 2px;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "head head head"
    "p0 p1 p2"
    
}


.donations-header{
    grid-area: head;
    display: flex;
    flex-direction: column;
    align-items: center;
    a:visited {
        text-decoration: none; color: white;
    }
    a {
        text-decoration: none;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        border-bottom: 0.4px solid;
        border-bottom-color: #01f39c;
        

    }
    
    a:active {
        text-decoration: none;
    }
}

.donations-header{
    h2{
        font-family: 'Amatic SC', cursive;
        font-size: 3rem;
    }
}

.project-0{
    grid-area: p0;
    display: flex;
    flex-direction: column;
    align-content: center;
    // background-size: contain;
    // background-repeat: no-repeat
    p {
        font-family: 'Amatic SC', cursive;
        font-size: 1.6rem;
        img {
            width: auto;
            height: 120px;
            border-radius: 5px;
        }
    }
    
}
.project-1{
    grid-area: p1;
    display: flex;
    flex-direction: column;
    align-content: center;
    p {
        font-family: 'Amatic SC', cursive;
        font-size: 1.6rem;
        img {
            width: auto;
            height: 120px;
            border-radius: 5px;
        }
    }

}
.project-2 {
    grid-area: p2;
    display: flex;
    flex-direction: column;
    align-content: center;
    p {
        font-family: 'Amatic SC', cursive;
        font-size: 1.6rem;
        img {
            width: auto;
            height: 120px;
            border-radius: 5px;
        }
    }
}