// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    background-image: url("https://dl.dropboxusercontent.com/s/d8euk5zh0kq6l1h/tear-off-how-banner.png?dl=0");
    background-size: cover;
    width: 100vw;
    height: 50vh;
    z-index: 10;
    margin: 2px;

    
}
.banner img {
    position: relative;
    left: 50px;
    height: 100%;
    width: 100%;
}

.content-wrap{
    display: table;
    background-color: rgb(49,54,57);
    
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 250px;

}

.heading{
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    a:visited {
        text-decoration: none; color: white;
    }
    a {
        text-decoration: none;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        border-bottom: 0.4px solid;
        border-bottom-color: #01f39c;
        

    }
    
    a:active {
    text-decoration: none;
    }
}
.flyers-0{
    grid-area: f0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flyers-1{
    grid-area: f1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flyers-2{
    grid-area: f2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-flyers{
    position: absolute;
    border: 0.4px solid;
    border-color: #01f39c;
    padding: 2px;
    width: 42%;
    height: 30vh;
    // background-image: url(https://dl.dropboxusercontent.com/s/igsqawly8yf4tof/pop-flyers.png?dl=0);
    // background-image: url(https://dl.dropboxusercontent.com/s/c972kbu31jevmmh/pop-fly.png?dl=0);
    // background-size: cover;
    // background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    display: grid;
    align-items: center;
    margin: 0px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "hd hd hd"
        "f0 f1 f2";
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:active {
        text-decoration: none;
    }
}



.total-donations{
    // background-image: url(https://dl.dropboxusercontent.com/s/x55qt1v2g5gwmwf/projects.png?dl=0);
    // background-size: fill;
    // background-repeat: no-repeat;
    border: 0.4px solid;
    border-color: #01f39c;
    position: absolute;
    right: 30px;
    width: 42%;
    height: 30vh;
    grid-area: donations;
    color: white;
    padding: 0;
    margin: 2px;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "head head head"
    "p0 p1 p2"
    
}


.donations-header{
    grid-area: head
}

.project-0{
    grid-area: p0;
}
.project-1{
    grid-area: p1;

}
.project-2 {
    grid-area: p2
}