<footer>
  <div class="media-buttons">
    <a href = "/"><img src='https://dl.dropboxusercontent.com/s/26touyikgjngmry/Tearoff_logo%28green%29-04.png?dl=0'></div>
  
  
    <a href="www.facebook.com"><img src="https://dl.dropboxusercontent.com/s/8fd9i6cl8q05p7r/iconfinder_SocialMedia_Facebook-Outline_2959749%20%281%29.png?dl=0"width="25" height="25" alt="Facebook"></a>
    <a href="www.instagram.com"><img src="https://dl.dropboxusercontent.com/s/db096bj8ds186zi/iconfinder_SocialMedia_Instagram-Outline_2959748%20%281%29.png?dl=0"width="25" height="25" alt="Instagram"></a>
    <a href="www.twitter.com"><img src="https://dl.dropboxusercontent.com/s/66ansgsf9l4wp12/iconfinder_SocialMedia_Twitter-Outline_2959740%20%281%29.png?dl=0"width="25" height="25" alt="Twitter"></a>
  

    <div class="other-info">
      <%= link_to 'about us', '/about_us' %>
    </div>
    <p>contact: tear.off.unlimited@gmail.com</p>
  </div>
</footer>