<footer>
  <div>
    <div class="logo">

    </div>
    <div class="social-media-buttons">
      <div class="facebook button">Facebook</div>
      <div class="twitter button">Twitter</div>
      <div class="instagram button">Instagram</div>
    </div>
  </div>
  <div class="other-info">
    <p><%= link_to 'About Us', '#' %></p>
    <p>Contact us: tearoff@tearoff.com</p>
  </div>
</footer>