<footer>
  <div>
    <div class="logo">

    </div>
    <div class="social-media-buttons">
      <a href="www.facebook.com"><img src="https://dl.dropboxusercontent.com/s/rs3ggujqmb4wl9n/iconfinder_SocialMedia_Facebook-Outline_2959749.png?dl=0"width="25" height="25" alt="Facebook"></a>
      <a href="www.instagram.com"><img src="https://dl.dropboxusercontent.com/s/s6i270o8xckss4t/iconfinder_SocialMedia_Instagram-Outline_2959748.png?dl=0"width="25" height="25" alt="Instagram"></a>
      <a href="www.twitter.com"><img src="https://dl.dropboxusercontent.com/s/8jmn425bvzx0e40/iconfinder_SocialMedia_Twitter-Outline_2959740.png?dl=0"width="25" height="25" alt="Twitter"></a>
    </div>
  </div>
  <div class="other-info">
    <p><%= link_to 'About Us', '#' %></p>
    <p>Contact us: tear.off.unlimited@gmail.com</p>
  </div>
</footer>